* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white important;
    width: 100%;
    text-align: center;
    border-top: 1px rgba(0, 0, 0, 0.299) solid;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    display: none;
    justify-content: end;
}

.header-logo {
    height: 75px;
    /* background-color: red;    */
    margin: auto;
    width: 240px;
    background-image: url("../css/img/logo.png");
    background-size: cover;
    margin-bottom: 0px;


}

.header1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    margin-left: 40px;
}

.header1 nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: 0.3s;
}

.header1 nav {
    margin-left: 450px;
}

.icon a {
    font-size: 20px;
    margin-right: 10px;
    color: black;
    text-decoration: none;

}

.header1 nav a:hover {
    scale: 5;
    color: #CA6DE6;
}

.Amt p {
    text-align: start;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-left: 5px;
}

.card-body {
    /* background-color: red; */
    text-align: start;
    padding-left: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    height: 30px;
    display: flex;
    align-items: center;

}

.card-title {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.card button {
    background-color: #CA6DE6;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 0px;
    outline: 0px;
    transition: 0.3s;
}

.card button:hover {
    color: black;
    background-color: white;
    border: 1px black solid;
}

.rating {
    color: gold;
    text-align: start;
}

.card img {
    transition: 0.3s;

}

.card img:hover {
    scale: 1.02;
}


.last h2 {
    color: #CA6DE6;
    margin-bottom: 20px;
}

.last a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    transition: 0.3s;
}

.last a:hover {
    color: #CA6DE6;
}

.copy {
    border-top: 1px white solid;
}