* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white important;
    width: 100%;
    text-align: center;
    border-top: 1px rgba(0, 0, 0, 0.299) solid;
    width: 100%;
    overflow-x: hidden;
}

.menu {
    display: none;
    justify-content: end;
}

.header-logo {
    height: 75px;
    /* background-color: red;    */
    margin: auto;
    width: 240px;
    background-image: url("../img/logo.png");
    background-size: cover;
    margin-bottom: 0px;


}

.header1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    margin-left: 40px;
}

.header1 nav a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
    transition: 0.3s;
}

.header1 nav {
    margin-left: 450px;
}

.icon a {
    font-size: 20px;
    margin-right: 10px;
    color: black;
    text-decoration: none;

}

.header1 nav a:hover {
    scale: 5;
    color: #CA6DE6;
}

.clothing p {
    border-bottom: 1px rgba(0, 0, 0, 0.514) solid;
    margin-bottom: 10px;
}

.bias-text {
    padding-right: 20px;
    margin-right: 10px;
}

.Amt p {
    text-align: start;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0;
    padding-left: 5px;
}

.card-body {
    /* background-color: red; */
    text-align: start;
    padding-left: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0px;
    height: 30px;
    display: flex;
    align-items: center;


}

.card-title {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}

.card button {
    background-color: #CA6DE6;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 0px;
    outline: 0px;
    transition: 0.3s;
}

.new {
    background-color: #ca6de630;
}

.card button:hover {
    color: black;
    background-color: white;
    border: 1px black solid;
}

.rating {
    color: gold;
    text-align: start;
}

.card img {
    transition: 0.3s;
}

.card img:hover {
    scale: 1.02;
}

.two {

    display: flex;
    justify-content: space-between;
    margin: 8px;

}

.two img {
    margin-left: 10px;
    padding: 10px;
    transition: 0.3s;

}

.two img:hover {
    scale: 1.02;
}

.merch {

    padding: 0px;

}

.btn button {
    background-color: white;
    width: 170px;
    height: 40px;
    outline: none;
    border: 1px black solid;
    transition: 0.3s;
}


.btn {
    margin: 30px 0px 0px 0px;
}

.btn button:hover {
    color: white;
    background-color: #CA6DE6;
}

.box1 {
    background-color: #ca6de630;
}

.img {
    margin: 20px;
    width: 500px;
    height: 500px;
    background: url(../img/bias.png);
    background-size: cover;
}

.img1 {
    width: 100%;
    /* height: 720px; */
    padding: 90px;
}

.bias-text {
    margin-top: 50px;
}

.icon1 {
    font-size: 40px;
}

.line {
    font-size: 14px;
}

.select {
    justify-content: space-between;
    /* background-color: red; */
}

.reviewimg {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.palak {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: start;
    margin-top: 5px;
    background-color: #d077eb30;
    border-radius: 10px;
}

.innerbox h6 {
    margin-bottom: 0px;
}

.innerbox {
    width: 100%;
}

.innerbox p {
    margin-bottom: 0px;
    font-size: 12px;
    padding: 4px;
}

.my-btn {
    background-color: #CA6DE6;
    padding: 8px;
    width: 190px;
    font-size: 15px;
    border: none;
    outline: none;
}

.kpopmsg {
    width: 90%;
    margin: auto;
    border: 1px blck solid;

}

label {
    background-color: red;
    text-align: start;
    /* font-size: 15px; */
    font-weight: bold;
}


.rating1 {
    color: gold;
}


.last h2 {
    color: #CA6DE6;
    margin-bottom: 20px;
}

.last a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    transition: 0.3s;
}

.last a:hover {
    color: #CA6DE6;
}

.copy {
    border-top: 1px white solid;
}

@media(max-width: 768px) {

    .header1 {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        font-size: 25px;
        transition: 0.3s;
    }

    .menu:hover {
        color: #CA6DE6;
    }

    .card .card-title {
        /* background-color: red; */
        font-size: 8px;
    }

    .card .Amt .rating {
        font-size: 10px;
    }

    .card .Amt .price {
        font-size: 10px;

    }

    .card img {
        width: 100px;
    }

    .card button {
        font-size: 12px;
    }

    .mySwiper {
        margin-top: 0;
        padding: 0;
    }

    .clothing {
        margin-bottom: 0;
    }

    .mySwiper {
        padding: 0;
        margin: 0;
    }

    .mobile {
        width: 150%;
        padding: 0;
        margin: 0;
    }


    .merch {
        /* background-color: orange; */
        width: 50%;
        padding: 5;
        display: flex;
        justify-content: center;
    }

    .merch .card img {
        width: 100%;
    }


    .merch .card-title {
        /* background-color: red; */
        font-size: 12px;

    }

    .biasa {
        flex-direction: column;
    }

    .box1 .biasimg {
        width: 300px;
        height: 300px;
        background: url(../img/bias.png);
        background-size: cover;
        margin: auto;
    }

    .box1 {
        padding-top: 5px;
    }

    .twoo {
        display: none;
    }

    .bias-text {
        margin-top: 0px;
        padding: 0px;
        margin: auto;
        max-width: 90%;

    }

    .bias-text h2 {
        font-size: 14px;
        font-weight: 600;
    }

    .bias-text p {
        font-size: 10px;
    }

    /* .box1 .container-fluid {
        flex-direction: row;
        
    } */




    .line {
        /* background-color: orange; */
        font-size: 10px;
        padding: 2px;
        height: 70px;
        text-align: center;
        /* margin-top: auto; */
    }

    .address {
        text-align: centerx;
    }

    .uplast {
        width: 50px;
        height: 50px;
    }

    body {
        overflow-x: hidden;
        width: 100%;
      
    }


}